{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": "off",
    "strict": 0,
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "consistent-this": ["error", "self"],
    "max-len": "off",
    "camelcase": "off",
    "no-unused-expressions": "off",
    "one-var": ["error", "never"],
    "jsx-a11y/label-has-associated-control": "off",
    "react/static-property-placement": "off",
    "react/sort-comp": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "no-new": "off",
    "no-shadow": "off",
    "react/jsx-fragments": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-no-bind": "off",
    "react/no-array-index-key": "off",
    "no-param-reassign": "off",
    "prefer-rest-params": "off",
    "no-alert": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "quotes": ["error", "double"],
    "lines-between-class-members": "off",
    "react/button-has-type": "off",
    "no-mixed-operators": "off",
    "no-useless-escape": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": 0,
    "no-return-await": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-bracket-location": "off",
    "operator-linebreak": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "no-nested-ternary": "off",
    "react/prefer-stateless-function": "off",
    "func-names": "off",
    "import/order": "off",
    "array-callback-return": "off",
    "default-case": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "no-use-before-define": "off",
    "react/no-unused-prop-types": "off"
  }
}