// system file
*.log
.DS_Store*
.idea/
report.*.json

// specific files
node_modules/
test/
CHANGELOG.md
src/
demo/
test/

// setting files
.babelrc
.travis.yml
.eslintrc
.eslintignore

Makefile
README.md
rollup.config.js