@import "./iconfont";

$blue-purple: #568ef2;

html {
  font: 14px/1.25 -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Hiragino Sans GB,Simsun,Arial,sans-self;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.app {
  height: 100vh;
}

.icon-github {
  position: fixed;
  padding: 1.5rem 2.5rem;
  top: 0;
  right: 0;
  color: $blue-purple;
  transition: all 0.25s ease-out;
  font-size: 2rem;
  text-decoration: none;
  z-index: 20;
  &:hover {
    text-shadow: 0 0 5px $blue-purple;
  }
}

$headerHeight: 6rem;
.header {
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
  z-index: 0;
  .tabs {
    $tabItemWidth: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .tabItem {
      padding: 0.5rem 0;
      font-size: 0.85rem;
      cursor: pointer;
      transition: all 0.35s ease-out;
      font-weight: bold;
      width: $tabItemWidth;
      text-align: center;
      &:hover {
        opacity: 0.75;
      }
      &.active {
        color: #fff;
      }
    }
    .activeBg {
      position: absolute;
      z-index: -1;
      width: $tabItemWidth;
      border-radius: 20px;
      top: 0;
      bottom: 0;
      transition: all 0.35s ease-out;
      background: $blue-purple;
      background: linear-gradient(90deg, #8990FF, $blue-purple);
      &.single {
        left: 0
      }
      &.cases {
        left: $tabItemWidth;
      }
    }
  }
}

.appContent {
  height: calc(100vh - #{$headerHeight});
}

.singleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 100%;
    position: relative;
    top: -3rem;
    .avatarWrapper {
      width: 100%;
      height: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sizeSlider {
      width: 60%;
      margin: 1.25rem auto;
      .rc-slider-track {
        background-color: $blue-purple;
      }
      .rc-slider-handle {
        border-color: $blue-purple;
      }
    }
    .btnGroup {
      display: flex;
      justify-content: center;
      button {
        text-align: center;
        transition: opacity 0.35s ease-out;
        cursor: pointer;
        line-height: 1;
        border-radius: 5px;
        border: none;
        width: 8rem;
        padding: 0.65rem 0;
        margin: 0 0.45rem;
        &:hover {
          opacity: 0.85;
        }
        &:focus {
          outline: none;
        }
        &.random {
          background: $blue-purple;
          background: linear-gradient(90deg, #8990FF, $blue-purple);
          color: #fff;
          box-shadow: 0 2px 6px #8990FF;
        }
        &.download {
          color: $blue-purple;
          background: #F1F1F1;
        }
      }
    }
  }

  .info {
    margin-left: 10rem;
    padding-bottom: 10vh;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 100%;
    .field {
      font-weight: bold;
      line-height: 1;
      font-size: 1rem;
      display: flex;
      align-items: center;
      margin-bottom: 0.1rem;
      .colorPanelWrapper {
        position: relative;
        .iconfont {
          font-weight: normal;
          margin-left: 0.35rem;
          transition: all 0.25s ease-out;
          font-size: 1.1rem;
          cursor: pointer;
          color: $blue-purple;
          &:hover {
            text-shadow: 0 0 5px $blue-purple;
          }
        }
        .colorPanel {
          position: absolute;
          top: calc(100% + 0.15rem);
          left: 0.15rem;
          z-index: 10;
          &.top {
            top: auto;
            bottom: calc(100% + 0.15rem);
          }
        }
      }
    }
    .opts {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.45rem;
      &:not(:last-of-type) {
        margin-bottom: 1.35rem;
      }
      width: 25rem;
      .opt {
        margin: 0 0.65rem 0.75rem 0;
        cursor: pointer;
        transition: all 0.25s ease-out;
        line-height: 1;
        padding: 0.4rem 1.5rem;
        border: 1px solid rgba(0,0,0,0.1);
        color: #888;
        font-size: 0.9rem;
        &.active {
          color: $blue-purple;
          border-color: $blue-purple;
        }
        &:hover {
          color: $blue-purple;
        }
      }
    }
  }
}

.casesSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  .casesWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .application {
    box-shadow: 0 0 50px rgba(61,159,233,0.3);
    width: 35rem;
    border-radius: 10px;
    position: relative;
    top: -3rem;
    margin: 3rem 4rem;
    &.dark {
      background: #222;
      .applicationHeader {
        border-bottom-color: rgba(255, 255, 255, 0.1);
        .icons {
          .icon {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
      .mock {
        background: rgba(255, 255, 255, 0.1);
      }
      .avatars {
        .avatar {
          border-color: #222;
        }
      }
    }
    .applicationHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.55rem 1.5rem;
      border-radius: 10px 10px 0 0;
      border-bottom: 1px solid #F2F2F2;
      .icons {
        $iconWidth: 0.5rem;
        display: flex;
        align-items: center;
        .icon {
          width: $iconWidth;
          height: $iconWidth;
          border-radius: 100%;
          background: #F2F2F2;
          margin-right: 0.3rem;
        }
      }
    }
    .applicationBody {
      border-radius: 0 0 10px 10px;
      padding: 1.5rem 1.5rem;
      height: 20rem;
      overflow-y: hidden;
      display: flex;
      & > .left {
        flex: 1;
      }
      & > .right {
        flex: 0 0 8rem;
      }
    }
  }

  .mock {
    border-radius: 3px;
    height: 0.35rem;
    background: #F2F2F2;
    margin-bottom: 0.4rem;
  }

  .blockWithAvatar {
    display: flex;
    margin-bottom: 1.5rem;
    .content {
      margin-left: 0.55rem;
      flex: 1;
      .mock {
        &.short {
          width: 1.5rem;
        }
        &.medium {
          width: 50%;
        }
        &.long {
          width: 90%;
        }
      }
    }
  }

  .listWithAvatar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4rem;
    .mock {
      &.block {
        width: 6rem;
        height: 5rem;
      }
      &.medium {
        width: 4rem;
      }
      &.long {
        width: 6rem;
      }
    }
    .avatars {
      position: relative;
      width: 100%;
      top: 0.15rem;
      .avatar {
        position: absolute;
        top: 0;
        border: 1px solid #fff;
        &:nth-of-type(1) {
          z-index: 3;
          right: 0;
        }
        &:nth-of-type(2) {
          z-index: 2;
          right: 0.5rem;
        }
        &:nth-of-type(3) {
          z-index: 1;
          right: 1rem;
        }
      }
    }
  }

  .buymeacoffeeBtn {
    margin-top: 1rem;
  }
}

// define Dark Mode css
@mixin dark {
  .appDark{
    .header,
    .appContent {
      background: #000;
      color: #ffffffc2;

    }
    .singleSection {
      .info {
        .opts {
          .opt {
            border: 1px solid #b9bcc06b;
            color: #ffffffc2;
          }
          .active{
            color: $blue-purple;
            border-color: $blue-purple;
          }
        }
      }
    }
    .application {
      background-color: #fff;
    }
  }
}

// use Dark Mode css
@include dark;

// follow system
@media (prefers-color-scheme: dark) {
  .appSystemDark{
      @include dark;
  }
}
