@import "./scss/iconfont";
@import "./scss/fonts";

html {
  font: 16px/1.25 -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Hiragino Sans GB,Simsun,Arial,sans-self;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
